<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; the backseat</p>
      </div>
      <div class="col-sm-6">
        <ul class="footer-links pull-right">
          <li><a href="#">About</a></li>
          <li>&middot;</li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>