.header {
  padding: 20px 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
.header h1 {
  font-size: 44px;
  font-weight: 300;
}

.content {
  padding-top: 20px;
}
.post .title {
  font-weight: 700;
  line-height: 1;
}
.post .byline {
  margin: 25px 0;
}
.post .body {
  font-size: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.post .body p {
  margin-bottom: 20px;
}
.main-feature {
  text-align: center;
}
.main-feature h2 {
  font-size: 20px;
}
