.story {
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.post .title {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}
.post .byline {
  margin: 30px 0 25px;
}
.post .body {
  font-size: 15px;
  padding-bottom: 20px;
}
.post .body p {
  margin-bottom: 20px;
}
.post .body img {
  display: block;
}
.post .body img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.post .body img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.post .body img.aligncenter {
  clear: both;
  margin: 5px auto 20px;
}

.featured-posts {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}
.main-feature {
  text-align: center;
}
.main-feature h2 {
  font-size: 20px;
}
.features .row {
  margin-right: -5px;
  margin-left: -5px;
}
.features .col-xs-4,
.features .col-xs-8 {
  padding-right: 5px;
  padding-left: 5px;
}
.feature {
  margin-top: 20px;
}
.feature h2 {
  margin-top: 5px;
  font-size: 16px;
}
