.header {
  padding: 20px 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
.header h1 {
  font-size: 44px;
  font-weight: 300;
}

.article {
  padding-top: 20px;
}
.title {
  font-weight: 700;
  line-height: 1;
}
.byline {
  margin: 25px 0;
}
.content {
  font-size: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.content p {
  margin-bottom: 20px;
}