body {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.container-fluid {
  max-width: 1024px;
}

.author-link {
  color: #333;
}
.author-link:hover {
  color: #333;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 768px) {
  .header img {
    margin-left: auto;
    margin-right: auto;
  }
}
.header .search-and-follow {
  float: right;
}
.header .search {
  float: left;
  padding-top: 4px;
}
.header .search-text {
  padding: 6px 12px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 14px 0 0 14px;
}
.header .search-button {
  margin-left: -5px;
  padding: 6px 14px 6px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 14px 14px 0;
  color: #777;
}
.header .search-text:focus,
.header .search-button:focus {
  border-color: #ccc;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204,204,204,.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204,204,204,.6);
}
.header .follow {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 8px 0 0;
}
.header .follow li {
  display: inline;
  margin-left: 15px;
}
.header .follow li a {
  color: #444;
}

.footer {
  padding: 30px 0 20px;
  border-top: 1px solid #e5e5e5;
  color: #444;
  text-align: center;
}
.footer-links {
  padding: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer-links {
    float: none;
  }
}
