.story {
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.post .title {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}
.post .byline-and-share {
  margin-top: 30px;
  margin-bottom: 25px;
}
.post .byline {
  font-size: 15px;
  font-weight: 700;
  margin: 5px 0 0;
}
.post .share {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .post .share {
    text-align: left;
    margin-top: 15px;
  }
}
.post .share li {
  display: inline;
  margin-left: 20px;
}
.post .share li:first-child {
  margin-left: 0;
}
.post .share a {
  color: #777;
}
.post .share .facebook .fa-facebook {
  font-size: 25px;
}
.post .share .facebook:hover {
  color: #3b5998;
}
.post .share .twitter .fa-twitter {
  font-size: 28px;
}
.post .share .twitter:hover {
  color: #55acee;
}
.post .share .email .fa-envelope {
  font-size: 24px;
}
.post .share .email:hover {
  color: #333;
}
.post .body {
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 20px;
}
.post .body p {
  margin-bottom: 20px;
}
.post .body img {
  display: block;
}
.post .body img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.post .body img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.post .body img.aligncenter {
  clear: both;
  margin: 5px auto 20px;
}

.more {
  padding: 30px 0;
}
.main-feature {
  text-align: center;
}
.main-feature h3 {
  font-size: 20px;
}
.features .row {
  margin-right: -5px;
  margin-left: -5px;
}
.features .col-xs-4,
.features .col-xs-8 {
  padding-right: 5px;
  padding-left: 5px;
}
.feature {
  margin-top: 20px;
}
.feature h3 {
  margin-top: 5px;
  font-size: 16px;
}
.recent h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
}
.recent-post {
  padding: 10px 0;
}
.featured-image {
  height: 105px;
}
.recent-post img {
  float: left;
  height: 85px;
  width: 85px;
  margin-right: 15px;
}
.recent-post h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.recent-post p {
  margin-bottom: 0;
}
